/*----------------- Signup Component------------------ */

.signup-card {
	/* Add shadows to create the "card" effect */
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	border-radius: 5px;
	padding: 2px 16px; /* 5px rounded corners */
}

.login_bg {
	background-image: linear-gradient(to left, #2d2d38, #2d1e38);
	height: 98vh;
}

.gra-chan_login {
	background-image: url(../src/assets/undraw_secure_login_pdn4.svg);
    background-repeat: no-repeat;
	height: 45vh;
	width: 50vw;
	border: none;
}